In [83]:
list_one =[1,2,3,4,"Depi" , "Learning",True ,[1,2,3,"True"],["ml","dl","ds"]]

In [84]:
type(list_one)
print(type(list_one))

<class 'list'>

In [85]:
list_one[7]

[1, 2, 3, 'True']

In [86]:
list_one[1:4]

[2, 3, 4]

In [87]:
list_one[7][3]

'True'

In [88]:
list_one[7][3]="DA"
list_one

[1, 2, 3, 4, 'Depi', 'Learning', True, [1, 2, 3, 'DA'], ['ml', 'dl', 'ds']]

In [89]:
name ="Mohamed"
print(type(name))
list_1=list(name)
type(list_1)

<class 'str'>

list

In [90]:
list_1 =[1,2,3]

In [91]:
list_1.append(4)

In [92]:
list_2=["depi","learning","python"]
list_3 = list_2.append("DS")
type(list_3)

NoneType

In [93]:
list_2.insert(2,"amit")

In [94]:
list_2

['depi', 'learning', 'amit', 'python', 'DS']

In [95]:
list_1=[1,2,3]
list_2= [4,5,6]
list_1.extend(list_2)
list_1

[1, 2, 3, 4, 5, 6]

In [96]:
list_1=["depi","lerning","depi","python","DS"]
list_1.remove("depi")
list_1
list_1.append("depi")
print(list_1)
list_1.pop()
list_1

['lerning', 'depi', 'python', 'DS', 'depi']

['lerning', 'depi', 'python', 'DS']

In [97]:
list_1
list_1.pop()
list_1

['lerning', 'depi', 'python']

In [98]:
x=5
del x

In [99]:
del list_1[0]

In [100]:
list_1

['depi', 'python']

In [101]:
name = input("Enter your name: ")
print(type(name))

<class 'str'>

In [ ]:
name =input("Enter your name: ")
id = input("Enter your id: ")
age = input("Enter your age: ")
print(f"my name is : {name} \nmy id is : {id}\n age : {age}") 
print(type(name))
print(type(id))

my name is : mohamed
my id is : 255
 age : 20
<class 'str'>
<class 'str'>

In [114]:
input_list =["amit","learning","depi"]
list = input("Enter del: ")
input_list.remove(list)
input_list

['amit', 'learning']

In [130]:
my_list = [1,2,2,2,3,4,5]
my_list.count(2)

3

In [131]:
my_list_2 =[10,58,62,48,99,60,20]
my_list_2.sort()
my_list_2

[10, 20, 48, 58, 60, 62, 99]

In [132]:
my_list_2.reverse()
my_list_2

[99, 62, 60, 58, 48, 20, 10]

In [137]:
my_tuple=(50,20,48,30,1,19)
type(my_tuple)
my_tuple

(50, 20, 48, 30, 1, 19)

In [142]:
color = {"red"}
type(color)

set

In [145]:
set_a = {1,2,3}
set_b = {3,4,5}
print(set_a.difference(set_b))

{1, 2}

In [151]:
dict_a = {"name":"amit","name":101,"age":25}
dict_a["name"]

101

In [152]:
key_dict = [("a",1),("b",2),("c",3)]

In [157]:
key_dict

[('a', 1), ('b', 2), ('c', 3)]

In [156]:
dict(key_dict)

{'a': 1, 'b': 2, 'c': 3}

In [162]:
5//6

0

In [163]:
5%3

2

In [166]:
num_1 = float(input("Enter num 1: "))
num_2 = float(input("Enter num 2: "))
print("Addition:",num_1 + num_2)
print("sub:",num_1 - num_2)
print("multi:",num_1 * num_2)
print("division:",num_1 / num_2)

Addition: 40.0
sub: 0.0
multi: 400.0
division: 1.0

In [167]:
a =300
b=33
if b>a:
    print("b is greater than a")
else:
    print("a is greater than b")

a is greater than b

In [173]:
x=20
result = "Even" if x%2==0 else "Odd"
result

'Even'